/***** NAVBAR *****/

.navbar {
    background-color: #003366;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFA17F;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #FFFFFF;
    border-color: #FFA17F;
    background-color: #4A90E2;
    border-radius: 4px;
    border: 2px solid;
    fill: #fff;
    font-size: 18px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #FFA17F; nju8
    color: white;
    fill: white;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/background3.jpg");
    text-align: center;
    color: #2A4858;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #FFFFFF;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
}

.card:hover {
    border-color: #FFA17F;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
    color: #2A4858;
}

a {
    color: #FFA17F;
}

a:hover {
    color: #ebd122;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Arial', sans-serif;
    background-color: #FFF8F0;
    color: #2A4858;
}
